{#
/**
 * @file
 * Default theme implementation to present a media entity in the media library.
 *
 * The major difference between this template and the default template is that
 * "name" is omitted, as "name" is output as a field in the Media library view.
 * Other themes are welcome to override this template, which will not break the
 * functionality of the library.
 *
 * Available variables:
 * - media: The entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - author_info: This is a Media Library specific variable that contains the
 *   display name of the author for this media.
 * - created_ago: This is a Media Library specific variable that contains a
 *   formatted "time ago" version of the created date.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{ content|without('name', 'created', 'uid') }}
    <div class="media-library-item-attributes">
      <div class="media-library-item-name">{{ name }}</div>
      <div class="media-library-item-created">{{ created_ago }}</div>
      <div class="media-library-item-author">{{ author_info }}</div>
    </div>
    {# This is used to prevent dragging nested elements in the widget. #}
    <div class="media-library-mask"></div>
  {% endif %}
</article>
