/**
* @file media_library.view.css
*/

.media-library-item {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: top;
  position: relative;
  border: 5px solid #ebebeb;
  outline: 10px solid transparent;
  margin: 20px 20px 0 0;
  width: 160px;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
  background: #ebebeb;
  transition: border-color .2s, outline-color .2s;
}

.media-library-item.media-library-item-in-widget {
  cursor: move;
}

.media-library-item.checked {
  outline-color: #cfddfd;
}

.media-library-item::after {
  display: block;
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url('../icons/checkbox.svg') no-repeat;
  background-size: cover;
  margin: 5px 5px 0 0;
  opacity: 0;
  transition: opacity .2s;
}

.media-library-item:hover {
  border-color: #5792fb;
}

.media-library-item-checkbox {
   display: none;
}

.media-library-item-attributes {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 5px;
  user-select: none;
  background: rgba(87, 146, 251, 0.5);
  color: black;
  opacity: 0;
  transition: opacity .2s;
}

.media-library-item:hover .media-library-item-attributes,
.media-library-item.checked::after,
.media-library-item:hover .media-library-item-remove {
  opacity: 1;
}

.media-library-item-name {
  font-size: 16px;
}

.media-library-item .media-library-item-remove {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 0;
  background: url('../../../misc/icons/e32700/error.svg') no-repeat;
  background-size: cover;
  color: transparent;
  text-shadow: none;
  border: none;
  opacity: 0;
  transition: opacity .2s;
}

.media-library-item .media-library-item-remove:hover,
.media-library-item .media-library-item-remove:focus{
  background: url('../../../misc/icons/e32700/error.svg') no-repeat;
  background-size: cover;
  color: transparent;
  text-shadow: none;
}

.media-library-open-button {
  margin-top: 10px;
}

.media-library-mask {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
